@charset "utf-8";
/* CSS Document */
*{
	margin: 0px;
	padding: 0px;
}
#wrapper{
	background-color:#245076;
	width: 970px;
}
#header{
	display: inline-block;
}
#searchContainer{  
	vertical-align: top;
	margin-left: 175px;
	margin-bottom: 0px;
	display: inline-block;
} 
#search{
	border-radius: 10px;
	color: white;
	height: 40px;
	width: 200px;
	background-color: #444444;
	padding-top: 10px;
	
}
#butt{
	
}
.size{
	color: #f0cb34;
	text-decoration: none;
	
}
#links{
	text-align: center;
	color: #ffffff;
}
#nav{
	padding: 10px 25px;
	list-style: none;
	width: 800px;
	height:30px;
	background-color: #487ead;
	margin: 20px auto;
	border-radius: 5px;
	justify-content: space-around;
	display: flex;
	box-shadow: 2px 2px 2px black;
}
li{
	
	margin-left: 80;
}
ul{
}
a{
	color: white;
	text-decoration: none;
}
.nav{
	font-size: 25px;
	text-align: center;
	display: inline;
	margin-left: 15px;
	margin-right: 15px;
}